%div.form-group.row
  %div.col-form-label.col-sm-2
  %div.delivery-estimate.col-sm-10
    For more information about pickup locations, including
    %br
    hours,
    = link_to "please visit our website.", 'https://www.library.cornell.edu/libraries', :target => '_blank', :title => 'library hours'
