.form-group
  %label.control-label.col-sm-2{:for => "pickup-locations"} Pick up at:
  .col-sm-10
    %select#pickup-locations.form-control{:name => 'library_id'}
      %option(value='') -- Select a location --
      %option{:value => "D"} * Olin Circulation (default)
      %option{:value => "F"} Africana Circulation
      %option{:value => "G"} Annex Circulation
      %option{:value => "H"} Fine Arts Circulation
      %option{:value => "A"} Geneva Circulation
      %option{:value => "I"} ILR Circulation
      %option{:value => "B"} Law Circulation
      %option{:value => "K"} Management Circulation
      %option{:value => "C"} Mann Circulation
      %option{:value => "J"} Math Circulation
      %option{:value => "L"} Music Circulation
      %option{:value => "M"} Ornithology Circulation
      %option{:value => "E"} Vet Circulation
