- special_delivery_options = parsed_special_delivery(@fod_data)
.form-group.row
  %label.col-sm-2.col-form-label{:for => "pickup-locations"} Pick up at:
  .col-sm-10
    %select#pickup-locations.form-control{:name => 'library_id'}
      %option(value='') -- Select a location --
      -# %option{:value => "D"} * Olin Library (default)
      %option{:value => "F"} Africana Library
      %option{:value => "G"} Annex Contactless Pickup
      -# %option{:value => "H"} Fine Arts Library
      -# %option{:value => "A"} Geneva Circulation
      %option{:value => "I"} ILR Library
      %option{:value => "B"} Law Library – Law Faculty, Staff, and Students Only
      -# %option{:value => "K"} Management Circulation
      %option{:value => "P"} Mann Contactless Pickup
      %option{:value => "C"} Mann Library
      %option{:value => "Q"} Math Contactless Pickup
      %option{:value => "J"} Math Library
      %option{:value => "L"} Music Library
      -# %option{:value => "M"} Ornithology Circulation Desk
      %option{:value => "E"} Vet Library
      %option{:value => "O"} Uris Tower Contactless Pickup
      - if special_delivery_options.present?
        - special_delivery_options.each do |special_option|
          - if !special_option[:bd_value].empty?
            %option{:value => special_option[:bd_value]} #{special_option[:label]}
- if special_delivery_options.present?
  %p NOTE: You are eligible for one or more special program delivery options. Select one of the 'Special Program Delivery' choices from the list above.
= render :partial => 'shared/more_info'