- special_delivery_options = parsed_special_delivery(@fod_data)
.form-group.row
  %label.col-sm-2.col-form-label{:for => "pickup-locations"} Pick up at:
  .col-sm-10
    %select#pickup-locations.form-control{:name => 'library_id'}
      %option(value='') -- Select a location --
      %option{:value => "CORN_olin_circ"} * Olin Library (default)
      %option{:value => "CORN_afr_circ"} Africana Library
      %option{:value => "CORN_anx_grab"} Annex Contactless Pickup
      %option{:value => "CORN_fine_circ"} Fine Arts Library
      -# %option{:value => "CORN_remote_gnva"} Geneva Circulation
      %option{:value => "CORN_ilr_circ"} ILR Library
      %option{:value => "CORN_law_grab"} Law Library – Law Faculty, Staff, and Students Only
      -# %option{:value => "CORN_jgsm_circ"} Management Circulation
      -# %option{:value => "CORN_mann_grab"} Mann Contactless Pickup
      %option{:value => "CORN_mann_circ"} Mann Library
      %option{:value => "CORN_math_grab"} Math Contactless Pickup
      %option{:value => "CORN_math_circ"} Math Library
      %option{:value => "CORN_mus_circ"} Music Library
      -# %option{:value => "M"} Ornithology Circulation Desk
      %option{:value => "CORN_vet_circ"} Vet Library
      -# %option{:value => "CORN_uris_grab"} Uris Tower Contactless Pickup
      - if special_delivery_options.present?
        - special_delivery_options.each do |special_option|
          - if !special_option[:bd_value].empty?
            %option{:value => special_option[:bd_value]} #{special_option[:label]}
- if special_delivery_options.present?
  %p NOTE: You are eligible for one or more special program delivery options. Select one of the 'Special Program Delivery' choices from the list above.
= render :partial => 'shared/more_info'